{% load static %}
.background{
    background : url('{% static "img/12.jpg" %}') center no-repeat;
 }
header h1 {
    right / auto 100% no-repeat;
.root {
    font-size: larger;
}
}
img.main-image{
width: 100%;
}
img.additional-image {
width:180px;
}
.navabarmenu {
  display: inline-block;
  background:  #696969;

}

a {
  display: block;
  padding: 8px;
  color: #A52A2A;
}