{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %} Login {% endblock %}

{% block content %}
<h2>Login</h2>
{% if user.is_authenticated %}
<p>YOU are already signed in.</p>
{% else %}
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form layout='horizontal' %}
  <input type="hidden" name="next" value="{{ next }}">
  {% buttons submit='Login' %} {% endbuttons %}
  <a class= "nav-link"
            href="{% url 'main:password_reset' %}">Forgot Password?</a>
</form>
{% endif %}
{% endblock %}
